# =========================
# Angular
# =========================
node_modules/
dist/
.angular/
coverage/
*.log
.env

# =========================
# .NET Backend
# =========================
bin/
obj/
*.user
*.suo
*.cache
*.db
*.pdb

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/